name: Weekly Met Artwork

on:
  schedule:
    - cron: '0 9 * * 1'
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: List all files
        run: ls -R

      - uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Run index.js
        run: node index.js
        working-directory: ${{ github.workspace }}
